<body>
  <div class="topnav">
    <span class="nazwa">BeFreepared</span>
    <a class="active" routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/my-lists" routerLinkActive="active">My Lists</a>
    <a routerLink="/calendar" routerLinkActive="active">Calendar</a>
    <a routerLink="/my-archives" routerLinkActive="active">My Archives</a>
    <a class="logow" routerLink="/login" routerLinkActive="active">Log in</a>
    <a class="logow" routerLink="/sign-in" routerLinkActive="active">Sign in</a>
  </div>
  <router-outlet></router-outlet>
</body>
